h1 {
  font-weight: 100;
  margin-top: 10%;
  font-size: 68px;
  margin-bottom: 40px;
}
h2 {
  font-weight: 200;
  font-size: 22px;
}
.subtitle {
  font-size: 22px;
  font-weight: 100;
}
.topic-section {
  margin-top: 50px;
}
a, a:hover, a:visited, a:active {
  text-decoration: none;
  font-weight: 100;
}
body {
  padding-bottom: 100px
}
.brand a, .brand a:visited, .brand a:hover, .brand a:active{
  color: #333;
}