html {
  font-size: 12px;
  font-weight: 300;
}

.headerbar h1 {
  font-size: 24px;
}

.headerbar {
  margin-top: 5em;
  margin-bottom: 1em;
  border: 0px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a, a:visited, a:active, a:hover {
  color: #404040;
}

.post-date span{
  float: right;
  margin-top: 25px
}
