<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Paul McKellar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>
        Paul McKellar
      </h1>
    </div>
  </div>
  {{ content }}
</div>
</body>
</html>

